In [2]:
import yfinance as yf
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [3]:
# Let's get ticker symbols for all S&P 100 stocks
tickers = pd.read_html('https://en.wikipedia.org/wiki/S%26P_100')[2] #[2] isiliye kyuki is website ka 3rd table humare kaam ka hai to index 2 rahega

In [4]:
tickers

    Symbol                      Name                  Sector
0     AAPL                     Apple  Information Technology
1     ABBV                    AbbVie             Health Care
2      ABT                    Abbott             Health Care
3      ACN                 Accenture  Information Technology
4     ADBE                     Adobe  Information Technology
..     ...                       ...                     ...
96      VZ                   Verizon  Communication Services
97     WBA  Walgreens Boots Alliance        Consumer Staples
98     WFC               Wells Fargo              Financials
99     WMT                   Walmart        Consumer Staples
100    XOM                ExxonMobil                  Energy

[101 rows x 3 columns]

In [5]:
tickers = tickers.Symbol.to_list()

In [7]:
df = yf.download(tickers,start='2013-1-1')

[*********************100%***********************]  101 of 101 completed

21 Failed downloads:
- MSFT: No data found for this date range, symbol may be delisted
- COST: No data found for this date range, symbol may be delisted
- PM: No data found for this date range, symbol may be delisted
- MDT: No data found for this date range, symbol may be delisted
- PFE: No data found for this date range, symbol may be delisted
- EXC: No data found for this date range, symbol may be delisted
- CHTR: No data found for this date range, symbol may be delisted
- HON: No data found for this date range, symbol may be delisted
- META: No data found for this date range, symbol may be delisted
- T: No data found for this date range, symbol may be delisted
- DHR: No data found for this date range, symbol may be delisted
- LOW: No data found for this date range, symbol may be delisted
- RTX: No data found for this date range, symbol may be delisted
- BK: No data found for this date range, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted
- SO: No data found for this date range, symbol may be delisted
- MCD: No data found for this date range, symbol may be delisted
- TMO: No data found for this date range, symbol may be delisted
- GOOGL: No data found for this date range, symbol may be delisted
- SPG: No data found for this date range, symbol may be delisted
- BAC: No data found for this date range, symbol may be delisted

In [9]:
# sirf adjusted close humare kaam ka hai
prices = df['Adj Close']

In [10]:
prices

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,16.813864,22.895283,26.270296,57.066193,38.340000,29.167164,2.530000,67.581955,64.169945,12.865500,...,46.410889,51.137707,55.711208,24.362898,36.085690,27.214384,27.992317,25.938620,55.018856,57.143955
2013-01-03,16.601627,22.706230,27.270288,56.859596,37.750000,28.927311,2.490000,67.157417,62.603252,12.924000,...,44.240959,51.209354,55.762314,24.022995,36.113560,27.085297,27.793747,25.724001,54.669231,57.040909
2013-01-04,16.139198,22.419382,27.106359,57.173607,38.130001,29.023243,2.590000,67.453064,62.546398,12.957500,...,44.326046,52.105038,55.901031,24.547638,36.408516,27.232826,27.345102,25.857204,54.875839,57.305012
2013-01-07,16.044271,22.465015,27.327662,56.925713,37.939999,28.727413,2.670000,67.111961,62.473366,13.423000,...,44.326046,51.858231,55.740437,24.325954,36.668610,27.472574,27.970259,25.731400,54.351395,56.641525
2013-01-08,16.087440,21.976082,27.335869,57.256245,38.139999,28.503550,2.670000,66.823906,62.724998,13.319000,...,43.738903,51.822399,55.587124,24.362898,37.010014,26.804024,28.073223,25.686996,54.502384,56.995819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-22,187.000000,137.410004,108.250000,307.250000,477.579987,55.970001,110.699997,229.660004,186.429993,130.149994,...,479.049988,203.369995,171.380005,32.230000,228.389999,35.849998,31.889999,41.060001,155.750000,103.300003
2023-06-23,186.679993,135.919998,108.050003,298.429993,484.720001,55.220001,110.010002,227.110001,186.029999,129.330002,...,477.000000,199.889999,169.289993,31.879999,229.550003,35.509998,31.400000,40.610001,155.460007,102.400002
2023-06-26,185.270004,134.949997,108.510002,297.410004,479.510010,55.669998,107.510002,224.729996,188.130005,127.330002,...,479.059998,201.330002,172.750000,32.320000,226.300003,36.110001,31.590000,40.590000,155.050003,104.290001
2023-06-27,188.059998,132.600006,107.790001,300.809998,489.269989,56.450001,110.389999,222.610001,187.720001,129.179993,...,482.559998,202.979996,174.669998,32.549999,227.339996,36.549999,28.639999,40.910000,154.490005,104.550003
2023-06-28,NaN,NaN,107.750000,299.764008,NaN,NaN,NaN,220.115005,NaN,NaN,...,478.160004,202.699997,NaN,NaN,NaN,NaN,NaN,40.625000,NaN,NaN

In [11]:
# let's transform date index
prices.index = pd.to_datetime(prices.index)

In [36]:
monthly_returns = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1)

In [37]:
monthly_returns

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-31,-0.170373,0.057141,0.061488,0.040979,-0.013302,0.037007,0.027668,-0.041391,-0.036686,0.031829,...,0.012284,0.023353,0.039052,0.003943,0.016283,-0.003424,0.049921,0.000817,0.010254,0.014204
2013-02-28,-0.025286,0.006269,-0.002656,0.034358,0.039122,0.004758,-0.042308,0.077096,0.019041,-0.004633,...,-0.031878,0.048411,0.050145,0.026586,0.006742,0.066957,0.031285,0.007178,0.011865,0.001691
2013-03-31,0.002855,0.104550,0.045279,0.021652,0.107097,0.021310,0.024096,0.119716,-0.008763,0.008401,...,0.074501,0.038655,0.039322,0.004345,0.070600,0.056307,0.164631,0.054447,0.064040,0.006253
2013-04-30,0.000271,0.139681,0.049259,0.083518,0.035846,0.066976,0.105882,0.016584,0.095574,-0.047582,...,0.047544,0.038972,-0.000698,-0.019157,-0.008125,0.108364,0.038381,0.026764,0.038621,-0.012429
2013-05-31,0.022419,-0.072964,-0.006771,0.008227,-0.048137,0.073394,0.418440,-0.031053,-0.073223,0.060636,...,0.045053,0.049603,0.007717,0.053486,0.059401,-0.100723,-0.029914,0.076074,-0.031280,0.023664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-28,0.023183,0.041624,-0.079873,-0.048378,-0.125263,-0.033376,0.045642,-0.074077,-0.113613,-0.086299,...,-0.046575,0.021981,-0.006115,-0.041566,-0.042740,-0.066394,-0.023326,0.004232,-0.012094,-0.045291
2023-03-31,0.118649,0.035543,-0.004522,0.076295,0.189597,-0.170377,0.247264,0.043555,0.031968,0.096148,...,-0.003502,-0.029043,0.063017,-0.234566,0.025098,0.002061,-0.026738,-0.200770,0.041682,-0.002275
2023-04-30,0.028987,-0.043043,0.096406,-0.015462,-0.020266,0.053217,-0.088154,-0.008314,0.007686,0.020912,...,0.041262,-0.027626,-0.073097,-0.049098,0.032245,0.014981,0.019375,0.063403,0.023873,0.079154
2023-05-31,0.046058,-0.087083,-0.076672,0.091441,0.106553,-0.003959,0.322703,-0.070944,-0.097607,0.143480,...,-0.009856,-0.009582,-0.062318,-0.127771,-0.048421,-0.082411,-0.125336,0.009344,-0.023462,-0.129063
2023-06-30,0.060987,-0.038852,0.056373,-0.020123,0.171091,0.075455,-0.066153,-0.002425,0.026130,0.071322,...,-0.014607,0.052878,0.045928,0.088629,0.028548,0.025821,-0.056964,0.020472,0.051883,0.023194

In [14]:
formation = dt.datetime(2013,2,28)

In [15]:
formation

datetime.datetime(2013, 2, 28, 0, 0)

In [17]:
# let's try to find out prior month returns
return_prev = monthly_returns.loc[formation - MonthEnd(1)]

In [18]:
return_prev

AAPL   -0.170373
ABBV    0.057141
ABT     0.061488
ACN     0.040979
ADBE   -0.013302
          ...
VZ     -0.003424
WBA     0.049921
WFC     0.000817
WMT     0.010254
XOM     0.014204
Name: 2013-01-31 00:00:00, Length: 101, dtype: float64

In [38]:
return_prev.name = 'monthly_returns'

In [20]:
# transform this series to a dataframe so that we can add columns
return_prev = pd.DataFrame(return_prev)

In [21]:
return_prev

      monthly_returns
AAPL        -0.170373
ABBV         0.057141
ABT          0.061488
ACN          0.040979
ADBE        -0.013302
...               ...
VZ          -0.003424
WBA          0.049921
WFC          0.000817
WMT          0.010254
XOM          0.014204

[101 rows x 1 columns]

In [39]:
# add a decile column
return_prev['decile'] = pd.qcut(return_prev.monthly_returns,10,labels=False)

ValueError: Bin edges must be unique: array([-0.17037325, -0.01963046,  0.        ,  0.        ,  0.        ,
        0.01628253,  0.03038096,  0.04263148,  0.05229917,  0.07373112,
        0.79589173]).
You can drop duplicate edges by setting the 'duplicates' kwarg